body {
color : #222222;
background-color : #a9a9a9 !important;
background-image : url(../img/background2.png) !important;
margin : 0;
font-family : Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

body, p, marquee {
font : 1em verdana, geneva, arial, helvetica, sans-serif;
}

h1 {
font : 20px "trebuchet ms", verdana, arial, helvetica, geneva, sans-serif;
}

h2 {
font : 16px "trebuchet ms", verdana, arial, helvetica, geneva, sans-serif;
border-bottom : 1px solid #222222;
margin : 0;
}

h3 {
font : 14px geneva, sans-serif;
margin : 0;
color : #222222;
font-weight : bold;
margin-bottom: 5px;
}

#container, #top {
	border-radius : 10px 10px 0px 0px;
	-moz-border-radius : 10px 10px 0px 0px;
	-webkit-border-radius : 10px 10px 0px 0px;
}

#container {
margin : 20px auto 10px auto;
width : 980px;
border-width : 2px 2px 4px 2px;
border-color : #888888;
border-style : solid;
background-color : #d0d0d0;
}

/*	BANNER	*/

#top {
width : 980px;
display : block;
text-align : center;
vertical-align : middle;
padding : 10px 0 10px 0;
border-bottom : 1px solid gray;
background-color : #121212;
}

/*	HIER FÄNGT DIE NAVIGATION AN	*/

#navi {
clear : both;
height : 32px;
background : #bdbec6;
border-bottom : 1px solid gray;
}

#navi ul li.hover, #navi ul li:hover {
position : relative;
cursor : default;
}

#navi ul ul {
position : absolute;
top : 100%;
left : -1px;
z-index : 598;
width : 100%;
border : 1px solid black;
border-top : none;
}

#navi ul, #navi ul li ul {
list-style-type : none;
margin : 0;
padding : 0;
}

#navi ul li {
width : 8em;
float : left;
border : 1px solid black;
margin : 2px 12px 2px 0;
}

#navi ul li ul {
display : none;
}

#navi ul li:hover ul {
display : block;
}

#navi ul li ul li {
border : none;
margin : 0;
}

#navi ul a {
font-size : 0.8em;
font-weight : bold;
text-align : center;
display : block;
padding : 0.4em 0 0.4em 0;
}

#navi ul li.dir a {
	background-image : url(../img/nav-arrow-down-white.png);
	background-repeat : no-repeat;
	background-position : 106px 7px;
}

#navi ul li.dir:hover a {
	background-image : url(../img/nav-arrow-down.png);
}

#navi ul li.dir ul li a, #navi ul li.dir:hover ul li a{
	background-image : none;
}

#navi ul a:link, #navi ul a:visited {
color : #ffffff;
background : #6799ce;
text-decoration : none;
}

#navi ul a:active, #navi ul a:hover {
color : #000000;
background : #ffffff;
text-decoration : none;
}

/*	HIER FÄNGT DER HAUPTTEIL DER SEITE AN	*/

#content a, #content a:link, #content a:visited {
color : #2340ce;
text-decoration : none;
}

#content a:hover {
border-bottom : 1px dotted black;
}

#content {
width : 900px;
padding : 40px;
font-size : 11px;
clear : both;
}

#content td {
color : #121212;
font : 11px/12px verdana, geneva, arial, helvetica, sans-serif;
}

#content td#contact {
color : #888888;
font : 11px/12px verdana, geneva, arial, helvetica, sans-serif;
text-align : right;
font-weight : bold;
}

#content .tooltip {
	font-weight : bold;
	font-size : 140%;
	cursor : help;
	position : relative;
}

#content .tooltip_display {
	margin-left : -999em;
	text-decoration : none;
}

#content .tooltip:hover .tooltip_display {
	border-radius : 5px 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow : 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow : 2px 2px rgba(0, 0, 0, 0.1);
	position: absolute;
	left : 1em;
	top : 2em;
	z-index : 99;
	margin-left : 0;
	padding : 0.8em 1em;
	border : 1px solid #000;
	color : #121212;
	background-color : #d0d0d0;
	font-size: 80%;
}

#content .games_menu {
	height : 40px;
}

#content .games_menu .button {
	border-radius : 5px 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow : 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow : 2px 2px rgba(0, 0, 0, 0.1);
	margin-left : 0;
	padding : 0.6em 1em;
	border : 1px solid #fff;
	color : #fff;
	background-color : #78aace;
	font-size: 80%;
}

#content .games_menu .button:hover {
	background-color: #89bbce;
}

#content .mtg_deck {
	border-radius : 5px 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	box-shadow : 2px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow : 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow : 2px 2px rgba(0, 0, 0, 0.5);
	background-color : #efefef;
	border: 1px solid #222222;
	padding: 10px;
	width: 300px;
	
}

#content table#gb_entry tr td {
	color: #121212;
}

#content a.gb {
	margin-left: 10px;
}

#content table.shinys {
border : 0;
border-color : #888888;
outline : 0;
background-color : black;
width : 99%;
}

#content table.shinys th {
color : #888888;
}

#content table.shinys tr:hover {
background-color : #181818;
}

#content table.shinys td:hover {
background-color : #303030;
}

#content table.shinys td.x:hover img {
background-color : #fafafa;
}

#content table.shinys td {
color : #888888;
}

#content .post {
background-color : #efefef;
border : 2px solid white;
padding : 20px;
margin-bottom : 20px;
}

#content .post td {
	color: #121212;
}

font.ru {
color : #990000;
}

font.sa {
color : #000099;
}

font.sm {
color : #009900;
}

font.fr {
color : #cc0000;
}

font.lg {
color : #00cc00;
}

font.d {
color : #99ccff;
}

font.p {
color : #cc99ff;
}

font.vorh, font.clique, font.chain, font.fight, font.trade, font.evo {
color : #00ff00;
}

font.nvorh, font.cheat {
color : #ff0000;
}

font.cheat {
text-decoration : underline;
font-weight : bold;
}

font.mbcheat {
color : #ff6600;
font-weight : bold;
}

#footer {
border-top : 2px solid gray;
color : gray;
padding : 6px 20px 10px 20px;
clear : both;
width : 940px;
}

#footer td {
color : gray;
font : 11px/12px verdana, geneva, arial, helvetica, sans-serif;
text-align : center;
vertical-align : middle;
}

#footer a, #footer a:link, #footer a:visited {
color : #2340ce;
text-decoration : none;
}

#footer a:hover {
border-bottom : 1px dotted black;
}

input {
border : 1px solid gray;
color : #121212;
font-size : 1em;
}

textarea {
border : 1px solid gray;
color : #121212;
font-size : 1em;
font-family: "Verdana";
}

ul {
margin-bottom : 10px;
margin-top : -2px;
}

ol {
margin-bottom : 10px;
}
